<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q, url: search_tasks_path do |f| %>
  <%= f.label :title_or_description_gt, 'キーワード' %>
  <%= f.search_field :title_or_description_gt %><br>
  <%= f.label :age_eq, '期間' %>
  <%= f.date_field :deadline_gteq %>〜
  <%= f.date_field :deadline_lteq %>
  <%= f.label :status, 'ステータス' %>
    <%= f.radio_button :status %><%= '指定しない' %>
    <%= f.radio_button :status, 'todo' %><%= label.name %>
    <%= f.radio_button :status, 'doing' %><%= label.name %>
    <%= f.radio_button :status, 'done' %><%= label.name %>
  <%= f.submit 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
